
###########################################################################################
### Add homing_ovverride to prevent TOOL mounted break on BED if you make a G28 command and a TOOL is mounted...
### and...
### you have to comment or delete [safe_z_home] section from 'printer.base.cfg file


#[safe_z_home]
#pin: PJ11
#home_xy_position: 130, 130
#speed: 200
#z_hop: 10
#z_hop_speed: 3
#move_to_previous: False

###########################################################################################

[homing_override]
axes: xyz
gcode:
    {% set max_z = printer.toolhead.axis_maximum.z|float %}

    # 1. PARSING PARAMETERS
    {% set has_args = ('X' in params) or ('Y' in params) or ('Z' in params) %}
    {% set home_x = ('X' in params) or not has_args %}
    {% set home_y = ('Y' in params) or not has_args %}
    {% set home_z = ('Z' in params) or not has_args %}

    # 2. LIFT Z...
    {% if 'z' in printer.toolhead.homed_axes %}
        {% set act_z = printer.toolhead.position.z|float %}
        {% set z_hop = 10.0 if act_z < (max_z - 10.0) else (max_z - act_z) %}
        {% if z_hop > 0 %}
            G91
            G1 Z{z_hop} F600
            G90
            M400
        {% endif %}
    {% else %}
        SET_KINEMATIC_POSITION Z=0
        G90
        G1 Z10 F600
        M400
    {% endif %}

    # 3. CHECL TOOLCHANGER
    {% set tc = printer["ff_toolchange"] %}
    {% set current_tool = tc.current_tool|int %}
    {% if not tc.state_ok %}
        { action_raise_error("ff_toolchange: stato sensori non affidabile (%s). Esegui TOOLCHANGE_STATUS prima di fare homing." % tc.state_reason) }
    {% endif %}

    # 4. HOMING XY (once)
    {% if home_x and home_y %}
        G28 X Y
    {% elif home_x %}
        G28 X
    {% elif home_y %}
        G28 Y
    {% endif %}

    # 5. HOMING Z (if noted)
    {% if home_z %}
        # IL TOOL ON, PARK IT BEFORE (XY HOMMED IET 4)
        {% if current_tool >= 0 %}
            M118 Deposito T{current_tool} prima di Homing Z...
            TOOLCHANGE_PARK
        {% endif %}

        G90
        G1 X130 Y130 F6000
        M400
        G28 Z
        G90
        G1 Z10 F600
    {% endif %}

###########################################################################################
